*{
    padding: 0;
    margin: 0;
    border: none;
}
    /* login */
.darkback{
    background-color: #F2F2F2;
}
section{
    margin-top: 20px;
    font-size: 14px;
    font-family: 'Noto Sans';
}

.logincont{
    background-color: white;
    border: solid #50A00A 4px;
    margin: 100px auto 0 auto;
    width: 400px;
    height: 500px;
    padding: 40px;
    box-sizing: border-box;
    border-radius: 10px;
}

.logincont > h2{
    text-align: center;
    font-size: 20px;
    color: #00746D;
    margin-bottom: 20px;
}
#admin-login > h4{
    margin: 10px 0;
}
#admin-login > input{
    width: 100%;
    height: 48px;
    padding: 0 10px;
    box-sizing: border-box;
    margin-bottom: 16px;
    border-radius: 6px;
    background-color: #F8F8F8;
    border: solid #bcbcbc 1px;
}
#admin-loginm > input::placeholder{
    color: #D2D2D2;
}
#admin-login > input[type="submit"]{
    color: #fff;
    font-size: 16px;
    background-color: #00746D;
    margin-top: 20px;
}
#admin-login > input[type="checkbox"]{
    display: none;
}
#admin-login > label{
    color: #999999;
}
#admin-login input[type="checkbox"] + label{
    cursor: pointer;
    padding-left: 26px;
    background-image: url("checkbox.png");
    background-repeat: no-repeat;
    background-size: contain;
}
#admin-login input[type="checkbox"]:checked + label{
    background-image: url("checkbox-active.png");
    background-repeat: no-repeat;
    background-size: contain;
}
#remember-check{
    accent-color: #F47D13;
}

.loginimgcont{
    width: 260px;
    margin: 0 auto;
}
.errorcont{
    height: 20px;
    margin-top: 10px;
}
.error {
    color: red;
}
.sinublack{
    height: 50px;
}

    /* main */
body{
    margin: 20px 20px 0 20px;
}
.title{
    display: flex;
    justify-content: space-between;
}
.sinublackmain{
    margin-top: 10px;
    height: 40px;
}
.imglogout{
    height: 30px;
    margin: 5px 5px 5px 10px;
}
.blogout{
    margin-bottom: 10px;
    display: flex;
    width: 140px;
    height: 48px;
    border: solid #F47D13 4px;
    box-sizing: border-box;
    border-radius: 10px;
}
.blogout:hover{
    background-color:#F47D1340;
}
.plogout{
    margin-top: 9px;
    font-size: 18px;
    font-weight: bold;
}
.adminnavcont{
    justify-content: space-around;
    display: flex;
    width: 100%;
    min-width: 904.1px;
    height: 80px;
    border: solid 4px #50A00A;
    box-sizing: border-box;
    border-radius: 10px;
}
.navlink{
    width: 32%;
    margin-top: 4px;
    line-height: 68px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    height: 64px;
    color: black;
    border-radius: 10px;
    text-decoration: none;
}
.navlink:hover{
    background-color: #ffcb0540;
}
.clicked{
    background-color: #ffcb0580;
}
.ydivider {
    width: 2px;
    height: 60px;
    background-color: #50A00A;
    margin-top: 6px;
}
.xdivider {
    width: 130px;
    height: 1px;
    background-color: #00746D;
    margin-left: 10px;
}
.dflex{
    display: flex;
}
.adminsidecont{
    width: 158px;
    border: solid 4px #00746D;
    box-sizing: border-box;
    border-radius: 10px;
}
.adminsidecont a{
    display: block;
    width: 130px;
    height: 50px;
    margin: 10px;
    font-size: 16px;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
}


table {
    width: 100%;
    min-width: 904.1px;
    border-collapse: collapse;
    margin-bottom: 50px;
}

th, td {
    min-width: 74px;
    border: 1px solid #ddd;
    padding: 8px 12px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

/* 인쇄 스타일 */
@media print {
    body * {
        visibility: hidden;
    }
    table, table * {
        visibility: visible;
    }
    table {
        position: absolute;
        left: 0;
        top: 0;
    }
}
